.markdown h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  border-bottom: 2px dotted #777;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5em;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
  font-weight: bold;
} 

.markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-size: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 0.25em;
} 

.markdown p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 1em;
}
.markdown ol {
    list-style: decimal outside;
    margin-left: 3em;
}

.markdown ul {
    list-style: disc outside;
    margin-left: 3em;
}
